/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #1d1d1f;
    max-width: 1300px;
    margin: auto;
}

/* Navegación */
header nav ul {
    list-style-type: none;
    background-color: #101010;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1rem;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #00a1e4;
}



.hero{
    text-align: center;
    background-image: url('../imagenes/foto_fondo.jpg'); /* Ajusta la ruta según la estructura */
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    flex-direction: column; /* Apila el título y el párrafo en columna */


}

.hero h1 {
    font-size: 3em;
    margin: 0;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    
    
    
}

.hero p {
    font-size: 1.5em;
    font-weight: 300;
    
    
    
}

/* Sección de contenido */


/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #101010;
    color: #888;
    font-size: 0.9em;
}

/* Responsivo para móviles */
@media (max-width: 576px) {
    header nav ul {
        flex-direction: column;
        text-align: center;
    }
    .hero {
        padding: 60px 10px;
    }
    .hero h1 {
        font-size: 2.5em;
    }
}
